.App {
   padding-top: 80px;
   padding-right: 40px;
   padding-left: 40px;
   background-image: url("./assets/images/wallpaper.jpg");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
}

.page-title {
  padding-bottom: 15px;
  text-align: center;
  font-size: 80 px;
}

.page-subtitle {
  padding-bottom: 15px;
  text-align: center;
  background-color: black !important;
}

.character-title {
  margin-top: 15rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  display: table-cell;
}

.card-image-overlay {
  position: absolute;
  /* top: 0; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
  padding-bottom: 6rem;
}

.search-text {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.search-text:hover {
  color: rgb(194, 250, 65);
}

a {
  text-decoration: none !important;
  color: white;
}

a:hover {
  color: rgb(194, 250, 65);
}